.users {

}

.dialogs {
display: flex;
    flex-direction: column;
    padding-left: 50px;
    text-align: left;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.Header__dialogs{
    text-align: left;
    font-size: 24px;
}
.dialogs img {
    width: 50px;
    height: 35px;
}
.input{
    width: 50%;
    border: 0;
    color: white;
    background-color: #181C21;
    outline: 0;
    height: 50px;



}
.button{
    height: 30px;
    width: 400px;
    border: 0;
    color: gold;

    background-color: #181C21;
    outline: 0;
    text-decoration: none;
}
.text__area__flex{
    display: flex;
    flex-direction: column;

}
.input__item{
    text-align: left;

}