.users {

}

.dialogs {
display: flex;
    flex-direction: column;
    padding-left: 50px;
    text-align: left;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.Header__dialogs{
    text-align: left;
    font-size: 24px;
}
.dialogs img {
    width: 50px;
    height: 35px;
}
